:7000 {
    root * /srv
    encode
    
    # API routes - proxy para backend
    handle /api/* {
        reverse_proxy backend:3000
    }
    
    # SPA fallback
    handle {
        try_files {path} /index.html
        file_server
    }

    log {
                output stdout
                format console
        }

}
